<main
  [ngClass]="{
    'w-full': true,
    'pb-60 ease-in': true,
    'dark-main': isDarkMode,
    '': selectedFont
  }"
>
  <div
    class="body px-[10%] lg:px-[20%] pt-8 pb-8"
    [ngStyle]="{ 'font-family': selectedFont }"
  >
    <div class="header flex relative w-full">
      <img src="../assets/images/logo.svg" alt="" />

      <div class="left ml-auto divide-x-2 flex">
        <div class="font-select p-1 absolute z-10 right-16">
          <div
            class="drop flex gap-2 cursor-pointer w-24"
            (click)="toggleDropdown()"
          >
            <p>Serif</p>
            <img
              src="../assets/images/icon-arrow-down.svg"
              alt=""
              [ngClass]="{
                'rotate-180 transition ease-in-out 600ms': isDropRotated
              }"
            />
          </div>

          @if (isDropdown) {
          <div class="list -ml-2 shadow-2xl p-2">
            <ul>
              <li class="cursor-pointer" (click)="applyFont('first')">Serif</li>
              <li class="cursor-pointer" (click)="applyFont('Sherif')">
                Sans serif
              </li>
              <li class="cursor-pointer" (click)="applyFont('mono')">
                Monospace
              </li>
            </ul>
          </div>
          }
        </div>

        <div class="toggle-cont flex -mt-2">
          <div class="toggle-switch">
            <input
              class="toggle-input"
              id="toggle"
              type="checkbox"
              (click)="toggleTheme()"
            />
            <label class="toggle-label" for="toggle"></label>
          </div>

          <svg
            class="w-6 h-6 mt-2.5 text-purple-500 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 21a9 9 0 0 1-.5-18v0A9 9 0 0 0 20 15h.5a9 9 0 0 1-8.5 6Z"
            />
          </svg>
        </div>
      </div>
    </div>

    <div class="search-bar mt-8 relative">
      <input
        type="search"
        placeholder="search for a word here..."
        #searchKey
        class="bg-zinc-100 search w-full placeholder:font-normal font-bold p-4 rounded-lg focus:outline-none focus:outline-purple-500 focus:ring-0 focus:border-0"
      />
      <img
        src="../assets/images/icon-search.svg"
        alt=""
        class="absolute top-5 right-5"
        (click)="fetchData(searchKey.value)"
      />
    </div>

    @if(isWordEntered){
    <div class="meaning mt-8">
      <div class="word-audio flex">
        <div class="p">
          <p class="font-bold text-[3.8rem] lowercase">{{ word }}</p>
          <p class="text-purple-400 text-lg font-semibold">/{{ phonetic }}/</p>
        </div>
        <div class="audio ml-auto w-14">
          <img
            src="../assets/images/icon-play.svg"
            alt=""
            class="ml-auto w-14 cursor-pointer"
            (click)="audioPlay()"
          />
          <audio>
            <source
              src="https://api.dictionaryapi.dev/media/pronunciations/en/born-us.mp3"
              type="audio/mpeg"
            />
          </audio>
        </div>
      </div>

      <div class="prefix flex mt-5 gap-0">
        <p class="font-bold text-lg italic">noun</p>
        <div class="h-[0.07rem] mt-4 ml-2 w-full bg-zinc-100"></div>
      </div>

      <div class="meanings mt-7">
        <p class="text-zinc-400 font-semibold">Meaning</p>

        <ul class="ml-8 mt-2">
          <li class="mt-2 relative" *ngFor="let meaning of meaning">
            <div
              class="h-2 w-2 bg-purple-500 rounded-full absolute -left-4 top-2.5"
            ></div>
            {{ meaning }}
          </li>
        </ul>
      </div>

      <div class="synonym mt-12 flex w-full">
        <p class="text-zinc-400 font-semibold">Synonyms</p>

        <ul class="w-32 mr-32">
          <li
            class="ml-3 text-purple-500 font-bold"
            *ngFor="let synonym of synonyms"
          >
            {{ synonym }}
          </li>
        </ul>
      </div>

      <div class="prefix flex mt-12 gap-0">
        <p class="font-bold text-lg italic">verb</p>
        <div class="h-[0.07rem] mt-4 ml-2 w-full bg-zinc-100"></div>
      </div>

      <div class="meanings mt-7">
        <p class="text-zinc-400 font-semibold">Meaning</p>

        <ul class="ml-8 mt-2">
          <li class="mt-2 relative">
            <div
              class="h-2 w-2 bg-purple-500 rounded-full absolute -left-4 top-2.5"
            ></div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio
            <p class="text-zinc-400">
              "sit amet consectetur adipisicing elit. Necessitatibus ipsa
              deserunt quisquam."
            </p>
          </li>
        </ul>
      </div>

      <div class="prefix flex mt-12 gap-0">
        <p class="font-bold text-lg italic">interjection</p>
        <div class="h-[0.07rem] mt-4 ml-2 w-full bg-zinc-100"></div>
      </div>

      <div class="meanings mt-7">
        <p class="text-zinc-400 font-semibold">Meaning</p>

        <ul class="ml-8 mt-2">
          <li class="mt-2 relative">
            <div
              class="h-2 w-2 bg-purple-500 rounded-full absolute -left-4 top-2.5"
            ></div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio
            accusamus perferendis quas nostrum earum fugit repellendus veniam
            illum iusto eaque!
          </li>
          <li class="mt-2 relative">
            <div
              class="h-2 w-2 bg-purple-500 rounded-full absolute -left-4 top-2.5"
            ></div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio
            accusamus perferendis quas nostrum earum fugit repellendus veniam
            illum iusto eaque!
          </li>
          <li class="mt-2 relative">
            <div
              class="h-2 w-2 bg-purple-500 rounded-full absolute -left-4 top-2.5"
            ></div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio
            accusamus perferendis quas nostrum earum fugit repellendus veniam
            illum iusto eaque!
          </li>
        </ul>
      </div>

      <div class="h-[0.07rem] mt-12 ml-2 w-full bg-zinc-100"></div>
      <p class="text-zinc-400 mt-5 ml-2">
        Source:
        <span class="underline link cursor-pointer text-black"
          >http://localhost:4200/</span
        >
      </p>
    </div>
    } @else if (isThereError) {
    <div class="error w-full relative">
      <p class="absolute left-0 right-0">
        oops we didn't find a meaning for your word
      </p>
      <img
        src="../assets/images/error.png"
        width="600px"
        class="ml-auto mr-auto mt-24"
        alt=""
      />
    </div>
    } @else{
    <img
      src="../assets/images/homebg.png"
      alt=""
      width="600px"
      class="ml-auto mr-auto mt-24"
    />
    }
  </div>
</main>
