<main [ngClass]=" {'w-full':true, 'dark-main':isDarkMode} ">
  <div class="body px-[10%] lg:px-[20%] pt-8 pb-8">
    <div class="header flex w-full">
      <img src="../assets/images/logo.svg" alt="" />

      <div class="left ml-auto flex">
        <div class="font-select divide-x-2 p-1">
          <select
            id="Subject"
            name="Subject"
            data-name="Subject"
            required=""
            class="select w-14"
            aria-required="true"
          >
            <option value="">Serif</option>
            <option value="First">Sans serif</option>
            <option value="Second">Monospace</option>
          </select>
        </div>

        <div class="toggle-cont flex -mt-2">
          <div class="toggle-switch">
            <input class="toggle-input" id="toggle" type="checkbox"  (click)="toggleTheme()"/>
            <label class="toggle-label" for="toggle"></label>
          </div>

          <img src="../assets/images/icon-moon.svg" alt="" class="w-5" />
        </div>
      </div>
    </div>

    <div class="search-bar mt-8 relative">
      <input
        type="search"
        placeholder="search for a word here..."
        class="bg-zinc-100 search w-full placeholder:font-normal font-bold p-4 rounded-lg focus:outline-none focus:outline-purple-500 focus:ring-0 focus:border-0"
      />
      <img
        src="../assets/images/icon-search.svg"
        alt=""
        class="absolute top-5 right-5"
      />
    </div>

    <div class="meaning mt-8">
      <div class="word-audio flex">
        <div class="p">
          <p class="font-bold text-[3.8rem] lowercase">Keyboard</p>
          <p class="text-purple-400 text-lg font-semibold">/hi/</p>
        </div>

        <img src="../assets/images/icon-play.svg" alt="" class="ml-auto w-14" />
      </div>

      <div class="prefix flex mt-5 gap-0">
        <p class="font-bold text-lg">noun</p>
        <div class="h-[0.07rem] mt-4 ml-2 w-full bg-zinc-100"></div>
      </div>

      <div class="meanings mt-7">
        <p class="text-zinc-400 font-semibold">Meaning</p>

        <ul class="list-disc ml-8 mt-2">
          <li class="mt-2 disc-purple-500">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus ipsa deserunt quisquam.
          </li>
          <li class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sequi
            earum ipsam quia exercitationem cumque nobis!
          </li>
          <li class="mt-2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio
            accusamus perferendis quas nostrum earum fugit repellendus veniam
            illum iusto eaque!
          </li>
        </ul>
      </div>

      <div class="synonym mt-12 flex">
        <p class="text-zinc-400 font-semibold">Synonyms</p>
        <span class="ml-3 text-purple-500 font-bold"
          >electronic keyboard</span
        >
      </div>

      <div class="prefix flex mt-8 gap-0">
        <p class="font-bold text-lg">verb</p>
        <div class="h-[0.07rem] mt-4 ml-2 w-full bg-zinc-100"></div>
      </div>

      <div class="meanings mt-7">
        <p class="text-zinc-400 font-semibold">Meaning</p>

        <ul class="list-disc ml-8 mt-2">
          <li class="mt-2">
            <p>
              Lorem ipsum dolor sit amet consectetur,
            </p>
            <p class="text-zinc-400">
              "sit amet consectetur adipisicing elit.
              Necessitatibus ipsa deserunt quisquam."
            </p>
          </li>
        </ul>
      </div>

      <div class="h-[0.07rem] mt-12 ml-2 w-full bg-zinc-100"></div>
      <p class="text-zinc-400 mt-5 ml-2">Source: <span class="underline link cursor-pointer text-black">http://localhost:4200/</span></p> 
    </div>
  </div>
</main>
