
@font-face {
  font-family: Sherif;
  src: url(../assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: first  ;
  src: url(../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: mono;
  src: url(../assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}

.sans-serif{
  font-family: Sherif, serif;
  .speech{
    font-style: italic;
}
}

.default {
  font-family: first , serif; 
  .speech{
    font-style: italic;
}
}

.mono{
  font-family: mono, serif;
  .speech{
    font-style: italic;
}
}


.dark-main{


  background-color: rgb(26, 25, 25);
  color: white;

  .search{
      background-color: rgb(54, 54, 54);
      transition: ease-in 300ms;
  }

  .link{
      color: white;
  }

  .select{
      background: transparent;
  }

  transition: ease-in 300ms;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 10px;
}

.toggle-switch .toggle-input {
  display: none;
}

.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  background-color: #6e757a;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: #9925dd;
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}

.toggle-switch.light .toggle-label {
  background-color: #bebebe;
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
  background-color: #9b9b9b;
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
  transform: translateX(6px);
}

.toggle-switch.dark .toggle-label {
  background-color: #4b4b4b;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label {
  background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}
