/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Sherif;
    src: url(./assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: first  ;
    src: url(./assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: mono;
    src: url(./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}

.sans-serif{
    font-family: Sherif, serif;
}

.default {
    font-family: first , serif; 
}

.mono{
    font-family: mono, serif;
}


.dark-main{
  
  
    background-color: rgb(26, 25, 25);
    color: white;

    .search{
        background-color: rgb(54, 54, 54);
        transition: ease-in 300ms;
    }

    .link{
        color: white;
    }

    .select{
        background: transparent;
    }

    transition: ease-in 300ms;
}